<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="F:/workspace/powerrecord/src/test/java/com/fiberhome/powerrecord">
        <classes>
            <class name="com.fiberhome.powerrecord.TestDemo1">
                <methods>
                    <include name="testGetUserInfo"/>
                    <include name="testDeleteUserInfo"/>
                </methods>
            </class>

            <class name="com.fiberhome.powerrecord.TestDemo2">
                <methods><include name="testUpdateUserInfo"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>